[2020-09-28 06:34] jdelforno opened #16 "Self-Hosted Gitrub Runner in Azure using Managed Identities to deploy"
Thank you for creating this action!

Is it possible to allow for Managed Identities executing within a Virtual Machine using a Self-Hosted run to deploy ARM Templates rather than specifying credentials in Github? From what I can see of the code the Credentials must be provided, however, we'd like to avoid that and have the permissions evaluated in Azure directly.

Cheers,
JD

[2020-09-28 06:37] jdelforno commented on #16
Reading through more of the code, I've realised that  azure/login@v1 is handling authentication (?).

Please close, I'll create an issue via https://github.com/Azure/login

Ty!

[2020-09-29 07:37] #16 closed

[2020-09-30 04:02] AmitSheth opened #17 "Feature Request - Create the Resource Group if it does not exist."
For a resource group scoped deployment (incremental mode), the resource group should be created if it does not exist.

[2020-10-08 01:47] jdelforno commented on #17
As an optional flag only, it makes sense.

RGs are usually linked to RBAC, Monitoring and SIEM tools. Pretty sure Azure Policies can prevent the creation of resource groups as well, which would get in the way.

[2020-11-02 12:23] vermegi opened #21 "Allow for parameter override"
When creating an ARM deployment, I would like to provide both a parameter file and override certain parameters through the arm-deploy action. This is handy when overall parameters exist in the parameter file, but you would like to override certain values during deploy in your pipeline.

One example is where I want to use this action twice, once for creating a resource group, where I determine the

[2020-11-04 08:09] kanika1894 commented on #21
Hey @vermegi ,
You can override the parameters in parameter file by explictly calling it out next to the parameter file.
Example :
``` parameters: repo/ARM/azuredeploy.resourcegroup.parameters.json  rgName=${{env.RESOURCEGROUP_NAME}} ```
This will override the rgName.

[2020-11-05 19:42] bishal-pdMSFT commented on #17
For resource group scope deployments, a resource group is a necessity. We can skip creating if it already exists, but otherwise no harm in trying always.

[2020-11-09 14:07] vermegi commented on #21
Ah, excellent, didn't know that was possible. Can this be explicitly mentioned in the documentation/samples? It is not clear at the moment that this is also an option.

[2020-11-12 07:57] kanika1894 commented on #21
sure! @pulkitaggarwl can you please take care of the documentation?

[2020-11-13 00:29] jdelforno commented on #17
The only way to know if it already exists though, is if the service principle performing the deployment has access to check against all subscriptions and resource groups, which in a lot of cases, it will not.

Wouldn't this lead to duplicate resource groups being created?

[2020-11-15 22:51] marvinbuss opened #23 "Validate Fails"
When only validating templates I get the following error:

[code]

[2020-11-19 15:03] kanika1894 commented on #23
Hey @marvinbuss
Can you please share the input parameters that you used to run the action?
A screenshot can also work.

[2020-11-23 23:09] marvinbuss commented on #23
@kanika1894 Sorry for my late reply. Here is the workflow: https://github.com/marvinbuss/mlflow-on-azure/actions/runs/364966556/workflow

[2020-11-24 06:44] kanika1894 commented on #23
@marvinbuss Thanks for sharing the logs. Looking into it and will get back to you.

[2020-11-24 12:08] kanika1894 commented on #23
Hey @marvinbuss,
Instead of azure/arm-deploy@v1, can you try using azure/arm-deploy@v1.0.1 ?

[2020-11-24 18:10] kanika1894 commented on #23
Now it should work with azure/arm-deploy@v1 as well. There was some issue in tagging the release version.
Please check and let me know how it goes. :)

[2020-11-26 08:59] marvinbuss commented on #23
This works now. Thank you!

[2020-11-26 08:59] #23 closed

[2020-11-27 11:39] kanika1894 commented on #17
Thank you for your feedback. This is now added to our backlog.

[2020-11-27 11:39] #17 closed

[2020-12-04 08:12] upadhyayap opened #27 "Deployment fails if output section is defined in ARM template"
### Issue
We have an ARM template where we are creating App insight and cosmos db resource, once resources are created, in output section we are trying to fetch the connection strings for the cosmos db as well as app insights key but this results in failure of deployment.
Deployment fails when output section is defined in the ARM template file. Please find the [sample repo](https://github.com/Devo

[2020-12-04 08:15] upadhyayap commented on #27
@kanika1894 if you are right person, could you please look into it on priority.

[2020-12-04 12:49] kanika1894 commented on #27
Hey @upadhyayap
can you please try running the workflow in debug mode?

[2021-01-07 03:15] bahramr opened #29 "Support for User Managed Identity"
In order to prevent the possible exposure of credentials in the Cloud, we need to use a User Managed Identity to run this action from a self-hosted agent deployed in Azure.
Is there a plan to implement that?

[2021-01-11 06:57] kanika1894 commented on #29
Hey @bahramr, is this in terms of credentials that are used as parameters to run the action?
We can use secret store as a best practice.

[2021-01-11 07:09] kanika1894 commented on #27
@upadhyayap were you able to proceed?

[2021-01-11 11:38] kanika1894 commented on #27
As discussed with @upadhyayap, closing this for now until he faces some issue again.

[2021-01-11 11:38] #27 closed

[2021-01-14 12:54] FBoucher opened #30 "Error: The process '/usr/bin/az' failed with exit code 2"
The deployment using Az CLI works but fails when using the action.  Maybe it's obvious but I don't see what I'm doing wrong...

So in my GitHub Action this will works perfectly

[code]

but this fails (I'm using the same everything, paths, names, creds)

[code]

Here the error message:

[code]

Any Idea?

[2021-01-15 12:56] wiebeck commented on #30
Exact same issue here. :-/

[2021-01-17 11:57] MarcBruins commented on #30
Can confirm that the workaround is setting a hard value for the `subscriptionId`.

[2021-01-17 13:03] FBoucher commented on #30
@MarcBruins adding the `subscriptionId` didn't fixed the problem for me

[2021-01-17 17:42] MarcBruins commented on #30
Mm weird. This is what i changed:
[code]

to:

[code]

[2021-01-18 06:07] wiebeck commented on #30
For me it got fixed by using
[code]
(14c04c0 was the latest commit when I checked)

[2021-01-25 11:53] FBoucher commented on #30
Specifying an old version or the subscriptioId shouldn't be a fix.

OR if the subscriptioId is required ... the doc needs to be updated.

[2021-01-25 14:24] wiebeck commented on #30
The issue will resolve itself when a new version is being released that makes the `subscriptionId` optional.

[2021-02-01 15:32] bahramr commented on #29
Hi @kanika1894 , this is to use the User Managed Identity object ID as a parameter of the AZ Login action. That way you don't have to store any secret in the cloud.

[2021-02-08 03:54] fvilches17 opened #32 "Allow to create resource group"
This action seems to only work if the resource group has been created previously.

As a workaround one has to either go to the azure portal and manually create the resource group or add a previous workflow step to automate the creation of the resource group (e.g. using azure cli to create the rg).

It would be nice to be able to create (assuming it's the first run) the resource group or update the

[2021-02-09 07:23] fvilches17 commented on #32
To further add, here's my workaround. I added a script to ensure the resource group is created beforehand.

So perhaps instead of enhancing the current action,  the docs and/or sample yaml code could have previous optional action like this one? Or even better, howabout create an azure action just for creating a resource group? Thus, sticking to separation of concerns.

Although, one thing to consi

[2021-02-15 11:57] andiasmara opened #33 "Arm deployment for Azure Data Factory failed without error message"
We try to implement CI/CD for Azure Data Factory (https://docs.microsoft.com/en-us/azure/data-factory/continuous-integration-deployment) using Github Action. In Actions, we use azure/arm-deploy@v1 for ARM deployment.
It was working fine last month, and then a few weeks ago, it started to failed without error message.

<img width="630" alt="Screenshot 2021-02-09 at 16 26 23" src="https://user-image

[2021-02-17 07:16] kanika1894 commented on #21
https://github.com/Azure/arm-deploy/pull/26/files : changes merged

[2021-02-17 07:16] #21 closed

[2021-02-17 07:17] kanika1894 commented on #29
@pulkitaggarwl some insights on this?

[2021-02-17 07:18] kanika1894 commented on #30
yes, will be releasing the new version which will fix this.

[2021-02-17 07:18] #30 closed

[2021-02-17 07:22] kanika1894 commented on #32
This is a feature request.
Looping @pulkitaggarwl for better clarity.

[2021-02-17 07:24] kanika1894 commented on #33
@andiasmara
Can you try running the action in debug mode to get more helpful logs?
You can refer https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-runner-diagnostic-logging to enable the debug mode.
It will be great if you can share the failed run.

[2021-02-17 07:57] pulkitaggarwl commented on #32
@fvilches17 thanks for reaching out

we are aligned here. It needs to be done to keep separations of concerns in mind.
Both these are valid alternatives, however, for just resource group creation, a script may be a better alternative. Whats your thoughts on this?

Also, would you like to raise a PR against the action documentation with the suggested enhancements ?

[2021-02-17 10:45] N-Usha commented on #29
Thanks @bahramr. MSI support is on our backlog. We are tracking it here: https://github.com/Azure/login/issues/56

[2021-02-18 10:27] fvilches17 commented on #32
Hi @pulkitaggarwl,

Yes agree. Even though in Azure DevOps the equivalent task combines both tasks (create rg + arm deploy), it would be a cleaner approach to keep this task separate.

As such, is there already in the roadmap a dedicated Azure GitHub action for creating resource groups?

E.g.

[code]

If not already being developed, I might just explore creating a PR for this action 👆

Ps, yes in

[2021-02-18 10:36] pulkitaggarwl commented on #32
I would suggest to start with promoting the scripts and raising PR updating the documentation
Azure CLI does a good job of support scenarios around resource group creation. If we still struggle, we can pick up having a dedicated action.  How does that sound ?

[2021-02-18 11:45] fvilches17 commented on #32
Sounds good @pulkitaggarwl

[2021-02-19 07:18] andiasmara commented on #33
@kanika1894
Should I enable "runner diagnostic logging" only or "step debug logging" as well?
and how can I share the log with you? there are some quite sensitive data in the log.

[2021-02-19 08:24] fvilches17 commented on #32
Hi @pulkitaggarwl ,

[PR](https://github.com/Azure/arm-deploy/pull/34) created. Please review and link to this issue.

Thank you

[2021-03-02 05:54] fvilches17 commented on #32
Closing issue as it's resolved.

[The documentation](https://github.com/marketplace/actions/deploy-azure-resource-manager-arm-template#another-example-which-ensures-the-azure-resource-group-exists-before-arm-deployment) now contains an additional example with an option Azure CLI step to provision the resource group

PR Merged. See #34

[2021-03-02 05:54] #32 closed

[2021-03-05 09:53] kanika1894 commented on #33
To enable step debug logging, you must set the following secret in the repository that contains the workflow: ACTIONS_STEP_DEBUG to true.
After setting the secret, more debug events are shown in the step logs. That can help you identify the issue.

[2021-03-09 11:49] vineetmimrot commented on #33
@andiasmara Can you please provide logs as mentioned by @kanika1894 ?
Since you mentioned it contains sensitive data, can you send it to
![image](https://user-images.githubusercontent.com/4174297/110466233-83b8b900-80fb-11eb-91cc-644a2a89b334.png)

[2021-03-11 05:28] vineetmimrot commented on #33
@andiasmara Any update?

[2021-03-15 05:56] kanika1894 commented on #33
@andiasmara waiting for your inputs.

[2021-03-15 05:58] kanika1894 commented on #29
As mentioned by @N-Usha , it's in backlog. So, closing this.

[2021-03-15 05:58] #29 closed

[2021-03-22 09:16] andiasmara commented on #33
@vineetmimrot and @kanika1894. Have you received the log files?

[2021-03-22 12:23] vineetmimrot commented on #33
@andiasmara Yes we have received the logs and @tejasd1990 is working on this issue.

[2021-03-24 14:46] marvinbuss commented on #33
We are running into the same issue with another ARM template. We tried to deploy Private DNS Zones and came across the same issue. Do you have enough logs or do you need more data @tejasd1990 & @vineetmimrot ?

[2021-03-24 15:51] tejasd1990 commented on #33
Hi all,
we have identified the root cause of this issue, will inform once we have an update regarding the fix checkin and rollout.

[2021-03-24 17:39] marvinbuss commented on #33
Would be great if you could rollout the bugfix until tomorrow afternoon CET, since we are relying on this Action for our deployments.

[2021-03-25 13:08] marvinbuss commented on #33
@tejasd1990 Can we expect a fix later today?
Thanks for your help!

[2021-03-26 10:12] tejasd1990 commented on #33
Hi @marvinbuss , we are still figuring out the fix, i will update once it is ready.

[2021-04-01 19:42] dpantaz opened #36 "JSON array as parameter input"
Hello.

Is it possible to use a JSON array as a parameter value in the parameters input?
For example
parameters: param1=<JSON array from file read in previous step>

Thank you.

[2021-04-11 09:51] thomast1906 opened #37 "ResourceGroupLocation in example is incorrect format with spacing"
`ResourceGroupLocation: "Australia East"` errors with

`ERROR: unrecognized arguments: East`

Correct reference

`ResourceGroupLocation: "AustraliaEast"`

[2021-04-13 20:52] jon-grey opened #38 "Unknown error with parameter allowedValues refering to other parameter"
Hi!

I have unknown error when trying to do ` "allowedValues": "[parameters('locationsAllowed')]"`. It works with  `"allowedValues": [  "southcentralus", ...]` . So I wonder if this operation is even supported?

[code]

Please note that this case works

[code]

[2021-04-15 11:37] tejasd1990 commented on #33
Hi all,
the fix has been deployed. Let us know if you are still facing the issue

[2021-04-28 23:43] jontreynes opened #41 "stdout should be provided on deployment and validation"
When using arm-deploy @v1, there is no output of the validate or deployment steps - only these messages.

![image](https://user-images.githubusercontent.com/19974635/116485468-4948de00-a859-11eb-9bc0-ecdc71b431f6.png)

To validate the deployment or validation steps, it would be nice to know the general deployment output by just writing the output from the `-o json` to standard output.

This will a

[2021-04-28 23:49] jontreynes commented on #33
Possibly this will show more info
#40

[2021-05-06 22:33] marvinbuss commented on #36
@bishal-pdMSFT We are running into issues, when trying to do this. Due to the `AZURE_CREDENTIALS`, it also seems like that any `{` and `}` get replaced with `***` in the Actions page and passing a JSON array always fails with `Failed to parse JSON`. Here are more details:
![image](https://user-images.githubusercontent.com/34542414/117373549-bc8ec780-aecb-11eb-98a2-a0d1af79b59e.png)

[2021-05-15 10:31] t-dedah commented on #36
Hi @marvinbuss, will it be possible to please share the exact parameter input. Are you passing a json or a json string something like this
_'{\"costCenter\":\"ABCD\", \"owner\":\"XYZ\"}'_

[2021-05-17 08:51] marvinbuss commented on #36
Hi @t-dedah, I am passing a JSON string as input (e.g. `'{"costCenter":"ABCD", "owner":"XYZ"}'`). `{` gets replaced with `***` it seems. Using a JSON as secret is also not recommended by the Actions team. We should consider moving to a different auth method with individual secrets for clientId and clientSecret. See here: https://docs.github.com/en/actions/learn-github-actions/security-hardening-fo

[2021-05-19 10:17] t-dedah commented on #36
@marvinbuss I am little confused. What secrets are you trying to pass as parameters? shouldn't we use azure login task for that? Also I consoled out `'{"costCenter":"ABCD", "owner":"XYZ"}'` and everything looks okay to me.

Will it be possible to share repro steps for the issue?

![Screenshot 2021-05-19 at 3 43 55 PM](https://user-images.githubusercontent.com/59823596/118796491-4b7ee500-b8b9-11eb-

[2021-05-19 10:47] marvinbuss commented on #36
Please try this workflow:

[code]

[2021-05-19 10:57] t-dedah commented on #37
Thanks for the observation @thomast1906 . PR raised for the solution. https://github.com/Azure/arm-deploy/pull/45

[2021-05-25 10:35] t-dedah commented on #38
Hi @jon-grey this looks like a template issue than action issue, can you please try this template and see if it works with az cli?

[2021-05-25 10:36] t-dedah commented on #37
Thanks @thomast1906 for noticing. As PR for this has been merged so closing this issue.

[2021-05-25 10:36] #37 closed

[2021-05-25 10:40] t-dedah commented on #33
Closing this issue due to inactivity. Please reopen if you are still facing the same issue. @andiasmara

[2021-05-25 11:30] t-dedah commented on #36
@marvinbuss Thanks for sharing the workflow. So we tested it out and the issue is with AZ CLI, workaround is to not store AZURE_TAGS as env variable but just directly use it as a string `tags='{"costCenter":"ABCD", "owner":"XYZ"}'`

[2021-05-25 13:26] marvinbuss commented on #36
Thanks, but what if I want to reuse the value for x number of deployments? I want to create a variable for it.

[2021-05-25 13:46] t-dedah commented on #36
@marvinbuss I totally agree its inconvenient but as its how AZ CLI works, we might not have many options.

[2021-05-25 13:52] t-dedah commented on #36
@marvinbuss I agree its inconvenient but as its how AZ CLI works we might not have any good option.

[2021-05-25 13:54] marvinbuss commented on #36
But the root cause of the replacement is not the Azure CLI, but how the Azure credentials are stored. Were you able to resproduce this behavior?

[2021-05-25 13:59] t-dedah commented on #36
I get same error even without storing any AZURE CREDENTIAL. Just running this command without login gives a 'json parse failed' error. I might be wrong but isnt it the behaviour of az comand?

[2021-05-27 09:53] ashmind opened #47 "Is there any way to mark outputs of the template as secrets?"
Looking at the code (https://github.com/Azure/arm-deploy/blob/main/src/utils/utils.ts), it seems that template outputs are always set using `setOutput`. However that means that all outputs are potentially visible in logs when used later.

For some more sensitive values (e.g. even AppInsights Instrumentation Key), it would be good to mask them in the logs.
This can be achieved by calling `core.setS

[2021-05-28 11:21] marvinbuss commented on #36
@t-dedah No this is not the behavior of az cli. The issue is, that we are storing a JSON as secret (AZURE_CREDENTIALS). If you remove the reference to it, everything will run just fine. The issue is Azure/login. The Action needs to accept individual secrets rather than a json. This requires an improvment.

[2021-06-02 11:01] JaMatus opened #48 "azure/arm-deploy@v1 fails after new release of Azure CLI Version 2.24.1"
Hello 🙂 Since the new release (1. June 2021) of Azure CLI Version 2.24.1, our github actions deployment to azure fails on azure/arm-deploy@v1 with following error:

The process 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd' failed because one or more lines were written to the STDERR stream

Have you experienced similar problem or this is not related in your opinion?

Thanks

[2021-06-02 13:14] t-dedah commented on #38
Closing this issue due to inactivity. Please re open if you are still facing this issue. @jon-grey

[2021-06-02 13:14] #38 closed

[2021-06-02 13:35] mburuckercSO commented on #48
We are running into a similar issue on Linux runners.
`The process '/usr/bin/az' failed because one or more lines were written to the STDERR stream`

[2021-06-02 14:04] t-dedah commented on #48
@mburuckercSO @JaMatus Can you please share the workflow file?

[2021-06-02 15:46] blue-lemons-sk commented on #48
@t-dedah sure 🙂 here is the release workflow file:

`name: DEV .NET Core CD ARM template

on:
  push:
    branches: [ dev ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1

    - name: Build with dotnet
      run: dotnet build --configuration Release

[2021-06-02 15:49] JaMatus commented on #48
@t-dedah sure 🙂   here is the release workflow file:

[code]

[2021-06-03 08:07] marvinbuss commented on #48
I am experiencing the same issue. It does not matter which ARM template you are deploying. It fails whatever you are trying to deploy.

[2021-06-03 08:08] marvinbuss commented on #47
@ashmind  You should not use secrets as outputs. These will also appear in the portal in the deployments section. This is generally not considered as good practice.

[2021-06-03 09:22] ashmind commented on #47
Thanks! In that case it makes sense not to implement this.

[2021-06-03 09:23] #47 closed

[2021-06-03 11:28] PaulCousinsTTEducation commented on #48
I am seeing this issue too. There seems to be a warning being displayed before the failure,not sure if it is related but here is the relevant log from a run today. I hadn't seen any warnings prior to todays runs.

2021-06-03T10:54:38.6823203Z ##[endgroup]
2021-06-03T10:54:40.5955013Z Validating template...
2021-06-03T10:54:45.7235801Z ##[warning]
2021-06-03T10:54:45.7983377Z Creating deployment...

[2021-06-03 15:15] JCDeist commented on #48
I am seeing this issue as well. I will mention the Azure portal is showing the deployment as succesful, and I have verified that the resources have been created/changed.

[2021-06-03 15:22] marvinbuss commented on #48
I can confirm this. Validation still works fine, but also shows the warning.

[2021-06-03 15:22] elizabethlfransen commented on #48
I can confirm that I am seeing the same errors and my deployment was successful

[2021-06-03 15:28] jlomen commented on #48
Seeing the same issue also this morning

[2021-06-03 20:14] ashmind commented on #48
Seeing the same issue.
If it's related to az cli change, I think it would be good to add `azcliversion` parameter same as https://github.com/Azure/cli, so that az cli updates are not picked automatically.

[2021-06-03 22:20] ashmind commented on #48
I wonder if it's related to https://github.com/Azure/azure-cli/issues/18262 (though that was reported earlier, for 2.24.0).

[2021-06-03 22:34] iamalexmang commented on #48
Seeing this issue as well. Is anyone aware of any workarounds?

[2021-06-03 23:04] elizabethlfransen commented on #48
If you don't need any outputs we simply used `continue_on_error: true`

[2021-06-03 23:17] iamalexmang commented on #48
I did, @elizabethlfransen, but as it turns out the outputs are missing in the from the step.
Before you ask, I double checked that outputs actually exist from the deployment, and they do. However, they don't seem to be bound in the GH Action step.

[2021-06-03 23:40] elizabethlfransen commented on #48
@iamalexmang Yeah when it errors out there wont be any outputs. I was lucky to be in a case where we didn't need the outputs

[2021-06-04 09:34] ashmind commented on #48
I have applied a workaround in my fork:
https://github.com/Azure/arm-deploy/compare/main...ashmind:main
It basically ignores error output if that's just whitespace.

I updated all my workflows to `uses: ashmind/arm-deploy@main`, and they seem to succeed so far (though I recommend using `ashmind/arm-deploy@39619d594c45f488f8ff2a86d08149c066349c72` as you should have no reason to trust future state

[2021-06-04 10:58] Choc13 commented on #48
I think this would be a great fix. I tried to chase down where the version of az cli that is used in this action comes from so that I could attempt a PR for this change. It seems though that this (and the other az actions like login) just rely on the `az` that is globally installed in the GitHub self hosted runners.

So I think trying to make this change gets quite complicated due to the fact that

[2021-06-04 12:24] t-dedah commented on #48
We are looking into the issue, will update as soon as we get more info.

[2021-06-04 18:12] t-dedah commented on #48
thanks @ashmind yes the issue is with the whitespace we are getting in the stderr listener. Your changes are a perfect short term solution but we are a little hesitant as it fundamentally changes the way errors are being treated. As the problem is with azure-CLI in this case the final solution needs to be from their side.

[2021-06-04 19:44] t-dedah commented on #48
Merged a temporary fix.

[2021-06-04 20:18] t-dedah commented on #48
Merged a temporary fix. Please use this until we get a permanent solution from azure-cli team.

`- uses: azure/arm-deploy@main`

instead of using v1

[2021-06-07 05:33] deep-mm commented on #48
Any updates on when this issue will be resolved?

[2021-06-07 07:30] t-dedah commented on #48
@deep-mm please use this as a solution.

`- uses: azure/arm-deploy@main`

instead of using v1

[2021-06-07 07:51] JaMatus commented on #48
@t-dedah with that fix, deployment in github is green, but app is not deployed correctly for us.

[2021-06-07 08:12] t-dedah commented on #48
@JaMatus Let me take a look.

[2021-06-07 08:31] t-dedah commented on #48
@JaMatus Please try again, deployment should work correctly now.

[2021-06-07 15:41] plzm commented on #48
I can confirm that, today, switching from @v1 to @main succeeded. Pipelines I had which were succeeding for weeks (github-hosted runners) started failing this morning with the same behavior shown above. Switched to @main and the pipelines succeeded.

[2021-06-08 10:01] JaMatus commented on #48
@t-dedah deployment is working now. Thanks :)

[2021-06-09 17:21] crgarcia12 commented on #48
Hi @t-dedah - Do you know when/why is `BufferSource` an empty string? Thanks!

[2021-06-16 16:40] dico-harigkev commented on #48
Using `arm-deploy@main`, I have now the opposite - the deployment was unsuccessful but the pipeline doesn't notice and continues. The output still indicates failure though, which remains undetected.

[code]

[2021-06-16 18:33] plzm commented on #48
@dico-harigkev
Same exact symptom here. I have had to go through my pipelines, task by task, to check if any failed even though showing succeeded. I have found this on dozens of task executions since switching to @main.

I tried reverting to @v1 since I saw Azure CLI has revved to 2.24.2, and it was at 2.24.0 when I was encountering the @v1 problems but v1 still doesn't work for me, fails tasks th

[2021-06-17 00:35] parallo-mattallford commented on #48
Hi @t-dedah, is there any ETA on a permanent fix for v1?

[2021-06-17 10:13] t-dedah commented on #48
@parallo-mattallford @plzm @dico-harigkev fix has been released by azure-cli team but public agent pool is yet to be updated to use upgrade azure-cli, I am trying to get updates for this.

[2021-06-17 10:18] t-dedah commented on #48
@dico-harigkev @plzm Can you please share more info to investigate better
1. Which version of azure-cli is running on pool
2. if possible, share the arm-template

[2021-06-17 12:32] t-dedah commented on #48
This is the schedule for next image rollout for the public agents. After this new fix should be available to everyone. Please test with V1 after this.
Orgs with self-hosted agents should update their azure-cli to 2.25.0

Windows 2019 - Fri /Mon
Other platforms - Wed next week

[2021-06-17 16:03] bishal-pdMSFT commented on #48
@dico-harigkev @parallo-mattallford @plzm we are looking at the issue of action reporting success even if deployment fails.
In the meanwhile, a workaround @t-dedah mentioned above is to use a self hosted runner with installed CLI version 2.25.0

[2021-06-17 16:05] alex-frankel commented on #48
@t-dedah /  @bishal-pdMSFT - can we please look into setting the az cli version if the task is going to take that dependency? Otherwise, we expose our customers to breaking changes like this with no good workarounds.. Alternatively, can we take advantage of the version in the task name `azure/arm-deploy@1.1`? That is what it should be used for, no?

For the other folks on the thread that have expe

[2021-06-17 16:09] Choc13 commented on #48
@ashmind made this point above about making the CLI version a parameter. I think it should be decoupled from the version number of this action though and supplied in the `with:` block.

I do agree with you though that this wrapper action seems to be causing more harm than good given it's such a thin layer of indirection.

[2021-06-17 16:13] Choc13 commented on #48
Also I think all of the errors being reported here about the action reporting success even though the deployment failed are a direct consequence of the workaround that's been applied to `main`. I believe #50 disabled checking `stderr` because the CLI was erroneously writing whitespace to `stderr`, so it doesn't seem surprising that as a consequence of this workaround the action will now succeed ev

[2021-06-17 16:34] t-dedah commented on #48
@parallo-mattallford @plzm @dico-harigkev I tried to repro the issue with a template deployment but it succeeded for me. Will it be possible to provide me with repro steps ?

[2021-06-17 16:37] iamalexmang commented on #48
Alex, I believe the main reason for picking this action in particular rather than using Az CLI was driven by these two ideas:

  *   hooking up the output to a variable in the workflow, which would otherwise require handling the success/failure of the command, parsing of the command output and pulling the ARM output and then finally hooking _that_ output up with the GitHub workflow using environme

[2021-06-17 16:37] plzm commented on #48
Thanks @t-dedah - see a workflow run here:
https://github.com/plzm/always-on/runs/2850980721?check_suite_focus=true
Three steps failed ("Deploy NSG Flow Logs ***") but the run shows as successful.

I have run a variety of ARM templates in this repo, all exhibit the same behavior.

[2021-06-17 18:12] t-dedah commented on #48
@parallo-mattallford @plzm @dico-harigkev We have fixed the `main` version of action to fail if arm deployment fails.

[2021-06-18 13:39] t-dedah commented on #48
Fix for this issue has been released to v1 version.

[2021-06-18 13:46] t-dedah commented on #48
Those who moved to `main`, please feel free to move back to `v1` version.

`- uses: azure/arm-deploy@v1`

instead of using main

[2021-06-19 07:34] damienpontifex opened #59 "Deploying bicep files with warnings fails the deployment"
Using the task with a bicep file as the template parameter when bicep has warning outputs results in the message:

This is correct, bicep is writing lines to stderr, but they are warnings only, not errors.

The result is that the bicep deploy doesn't occur. If I use `az deployment sub create` locally, the bicep deployment completes successfully.

Is there a way to continue deployment even though t

[2021-06-19 11:32] t-dedah commented on #59
Hi @damienpontifex , at the moment if stderr is not empty we throw an error. Considering stderr should only be used for errors, changing the behaviour will require a lot of approvals and changes.
Let's wait for the bicep team to come up with a fix then we can see if such a feature is needed or not.

[2021-06-19 11:40] damienpontifex commented on #59
Thanks for the insight. I know they're also introducing listing and others, so warnings are probably a standard thing the bicep tool will continue to produce.
I'll raise it on the bicep repo as well with this info about warnings and stderr and it's relation to tasks such as this deployment and see where the discussion goes to get a good outcome

[2021-06-20 14:41] bishal-pdMSFT commented on #59
Agree that this is a bicep issue and they should not put warnings in stderr.
We could introduce an input called failOnStdErr which can be set to false in such cases.

[2021-06-22 20:44] alex-frankel commented on #59
Per this stackoverflow post, my understanding is the correct convention is to emit warnings to stderr:
https://stackoverflow.com/questions/1430956/should-i-output-warnings-to-stderr-or-stdout

Can the task instead read the error code of the command? If it is anything other than 0, the task should fail. cc @anthony-c-martin.

[2021-06-23 19:38] bishal-pdMSFT commented on #59
Hi @damienpontifex/ @alex-frankel , there certainly seems to differing [opinions](https://unix.stackexchange.com/a/331831) in the community!

But yes, irrespective how different people think, it certainly seems over aggressive to fail the action if just a warning is written to stderr. Problem is that we do not know what is warning and what is an error. And we have seen customer complaints where a

[2021-06-23 22:04] alex-frankel commented on #59
I'd argue this is a bug in the tool, which should have emitted a non-zero exit code. My understanding is this the exact purpose of an exit code, so I'd strongly recommend we rely standard exit code patterns as the default behavior, with an option to opt-**in** to fail a task if there is any output on stderr like you are describing.

How will this task work with error codes in this case? Let's say

[2021-06-24 06:36] bishal-pdMSFT commented on #59
Yes, it should always respect exit code.

[2021-06-24 06:43] bishal-pdMSFT commented on #59
Yes, this is a good candidate for v2. We will add this to backlog for v2.

[2021-06-25 17:16] t-dedah commented on #48
Closing this issue as fixed has been deployed.

[2021-06-25 17:16] #48 closed

[2021-06-28 08:47] t-dedah commented on #59
@damienpontifex We are working on the fix for this issue [here](https://github.com/Azure/arm-deploy/pull/61).

[2021-06-28 09:02] damienpontifex commented on #59
Thanks @t-dedah I've been following that PR as well and keen to try out the fix once merged.
Thanks for the open discussion on this and jumping straight in to figure something out

[2021-06-30 07:31] damienpontifex commented on #59
I have tried my deployment again using `azure/arm-deploy@releases/v1` with the setting `failOnStdErr: false` and everything worked as expected.

Thank you for the open discussion and quick turnaround 🎉. I'd be happy to close (maybe you'll want to wait until v1 tag is updated to include this change)

[2021-06-30 08:40] t-dedah commented on #59
@damienpontifex We have released the fix in v1, now you can test that too.

[2021-06-30 14:41] AnaghBhatt-TomTom commented on #30
I have a similar issue while accessing Azure from GIt hub Actions

[2021-07-01 06:30] damienpontifex commented on #59
I switched it back to `azure/arm-deploy@v1` and got the original error "deployment process failed as some lines were written to stderr"

Maybe caching of the task or something. I'll give it a day and queue it again to try again because I can see https://github.com/Azure/arm-deploy/tree/v1 has the commit merged in already.

[2021-07-01 06:59] t-dedah commented on #59
@damienpontifex , let me check.

[2021-07-01 07:13] t-dedah commented on #59
@damienpontifex Please try again, there was issue with build process but its resolved now.

[2021-07-02 01:13] damienpontifex commented on #59
@t-dedah tried again and it worked with `@v1` 🍾

[2021-07-02 06:07] t-dedah commented on #59
@damienpontifex I am closing this issue now, feel free to reopen if you have any more queries.

[2021-07-02 06:07] #59 closed

[2021-07-09 13:20] dalmasj opened #68 "Connection string parameter from repo secret error"
Hi there,

I try to deploy azure datafctory with multiple parameters including connection string of sql server.
I have this following issue when trying tu set connection string (store in a GitHub secret) to a parameter:
![image](https://user-images.githubusercontent.com/83807850/125082881-05c7e700-e0c8-11eb-859b-92083f681a64.png)
I think it's because the connection string contains white space ("[.

[2021-07-12 08:41] t-dedah commented on #41
Closing this Issues due to inactivity.

[2021-07-12 08:41] #41 closed

[2021-07-12 10:31] bishal-pdMSFT commented on #48
A RCA of this issue has been posted [here](https://github.com/Azure/arm-deploy/discussions/69). Please feel free to put your comments.

[2021-07-16 11:00] vermegi opened #70 "Task fails for bicep template deploy"
Using arm-deploy@v1 to deploy a bicep ARM template:

[code]

Task fails with following output:

Run azure/arm-deploy@v1
  with:
    resourceGroupName: github-action-arm-rg
    template: ./main.bicep
    parameters: environmentType=Test
    failOnStdErr: true
  env:
    AZURE_HTTP_USER_AGENT:
    AZUREPS_HOST_ENVIRONMENT:
Validating template...
Warning: WARNING: Build succeeded: 0 Warning(s), 0 Err

[2021-07-16 11:27] t-dedah commented on #70
Hi @vermegi Can you let us know the Azure-cli version?
Also please share the template so that we can reproduce the issue over email: t-dedah@github.com

[2021-07-16 11:31] johan-lindqvist commented on #70
Same issue for me, seems to happen with the latest update to bicep.

I have a main.bicep file with some modules that was working fine just a few hours ago. Maybe the printing of `Build succeeded: 0 Warning(s), 0 Error(s)` is written to stdErr?

[2021-07-16 11:57] johan-lindqvist commented on #70
Maybe it's since they added this (https://github.com/Azure/bicep/commit/007e9b4d87a5c163ab3358069337c03058f8507e#diff-5ee1fea6435f908783976626fc58f410ef14d275e61e112610ffb0dee233a90e) where it adds a summary that it didn't before and you have to explicitly say --no-summary?

[2021-07-16 12:41] johan-lindqvist commented on #70
Seems like it's not exclusive to this action, I get this when I tried to replace this action in our workflow with the Azure CLI directly:

[code]

So the github runner think the summary message is a warning for some reason, it doesn't fail though, but still the message shouldn't be considered a warning.

[2021-07-16 19:21] t-dedah commented on #70
Hi @vermegi @johan-lindqvist can you please test this solution:-

Set `failOnStdErr: false` in workflow file.
This will ignore the messages being written to stdErr but will still fail if return code is non zero.

[2021-07-19 07:19] johan-lindqvist commented on #70
It goes through with `failOnStdErr: false`, so it's a workaround for now.

But what are you doing about this fragile dependency that has failed before and will probably fail again?

[2021-07-19 07:30] t-dedah commented on #70
Hi @johan-lindqvist,  I didn't get the fragile dependency part.
Bicep team using error stream for the warning is part of their design and we added `failOnStdErr` after discussing with them. The action will still fail if the return code is non zero.

[2021-07-19 07:34] johan-lindqvist commented on #70
I meant that this failed due to an update in the Azure CLI that broke existing functionality, mostly due to the dependency automatically updating since you don't have a specified version in your dependency to the Azure CLI, similar to what happened here: https://github.com/Azure/arm-deploy/discussions/69

[2021-07-19 07:37] t-dedah commented on #70
@johan-lindqvist yes that's a concern and we tried to look into this but arm CLI doesn't support side by side installation. We will see if anything else can be done to resolve this dependency.

[2021-07-19 08:26] marvinbuss opened #71 "Add deployment mode "WhatIf""
It would be great, if you could add a what-if deployment mode to understand changes that will be made before merging the changes into main. Please let me know, if you have more questions about the feature request.

For more details: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-what-if?tabs=azure-powershell

[2021-07-19 22:09] alex-frankel commented on #70
@t-dedah  - in az CLI we support installing a specific version of bicep like so:

[code]

If this is run prior to executing this task, will it honor that change? Or in the meantime, in the main branch of this action can you use the `--no-summary` switch? We are working on a fix now so that the summary does not output to stderr.

Separately, can you clarify what you mean by this statement?

I'm not

[2021-07-20 10:31] marvinbuss opened #72 "Warning should be removed"
This warning here should be removed from my point of view: https://github.com/Azure/arm-deploy/blob/c241d955ca17a88464fa9d60ce2d0fa3f75375fa/src/deploy/scope_subscription.ts#L12-L15

The warning does not even mention what parameter is affected and lastly this warning is not true. It very much is relevant whether you set the mode to validate or something else. Not sure why this warning is even pres

[2021-07-20 10:36] bishal-pdMSFT commented on #72
@marvinbuss this warning essentially is a prompt to user to not use "validate" mode in such a case. User should change the mode to "incremental" and the warning would go away.

[2021-07-20 10:52] bishal-pdMSFT commented on #70
@johan-lindqvist this is not a workaround. This is a knob to prevent the action from failing if az cli or other downstream tools (like bicep) write something other than an error to stderr. Hence you should keep this flag to false.

The action code itself does not install bicep. And hence end user should do this fix.

We can not have a pinned version of az CLI. The CLI is pre-installed on runners a

[2021-07-20 11:45] marvinbuss commented on #72
@bishal-pdMSFT This is not true. If I set the value to `Validate`, the warning is not shown. Just look at the if condition. If I set this to anything else, it starts showing the message. Why are you not creating the same behavior as with the ADO ARM task? This one does not show a warning, if I use the deploymentMode "Incremental".

[2021-07-20 19:55] bishal-pdMSFT commented on #72
My bad, I mentioned in the other way round. If deploymentMode is set to anything other than `validate` then it does not have any meaning and it will not have any effect as subscription scope deployment do not support incremental/complete modes.

We could very well not show a warning if deploymentMode is set to incremental or complete, but then it would not be truthful as there is no way to use it.

[2021-07-24 08:13] #70 closed

[2021-07-27 06:28] t-dedah commented on #71
Hi @marvinbuss
Can you please explain what use case this mode will solve? We looked into it and it made more sense while being used in a CLI where you see changes and confirm whether we want to go ahead with deployment or not.

Also how urgent is this feature?

[2021-07-27 10:10] marvinbuss commented on #71
Hi @t-dedah,
The idea is to use this in a PR to check what changes will be made once the PR gets merged back into the `main` branch. I don't need this feature tomorrow, but it would be nice to get this implemented.

[2021-08-02 10:29] t-dedah commented on #71
Thanks @marvinbuss for the insight. We will keep you posted on this feature request.

[2021-08-05 12:09] pinakighatak opened #74 "False Alert on GitHub workflow."
I'm using this step like this:
[code]
and I get this error in the pipeline
[code]
So, does this action support Bicep files with deploymentMode of Validate?

Because running this in incremental mode works simply fine.

[2021-08-12 19:22] bishal-pdMSFT commented on #72
Closing this issue. Please re-activate if you still feel this is a problem.

[2021-08-12 19:22] #72 closed

[2021-08-17 12:30] larryclaman commented on #71
I agree with @marvinbuss 's use case.  A similar use case would be in a CICD deployment scenario using [approval workflows](https://devblogs.microsoft.com/devops/i-need-manual-approvers-for-github-actions-and-i-got-them-now/), where you would 'pause' after the what-if action ran so that an operator could say Yes/No to proceeding with the deployment.
Conceptually, this would be very similar to how

[2021-08-17 12:35] larryclaman opened #76 "README.md overly complex"
While reviewing the README file, the example for "Another example which ensures the Azure Resource Group exists before ARM deployment" seems overly complex.  Currently the code example shows:
[code]

`az group create` is an idempotent command (it returns success even if the group already exists), so I don't think the conditional code is necessary at all. I believe you could simply run:
[code]

I r

[2021-08-17 19:45] t-dedah commented on #76
@larryclaman Not sure if it is important but if we try to create new resource with same name in different location then the command returns an error
`(InvalidResourceGroupLocation) Invalid resource group location 'eastus'. The Resource group already exists in location 'westus'.`

[2021-08-17 20:31] larryclaman commented on #76
interesting... thanks for pointing that out; was not aware of this failure scenario.

[2021-08-23 15:48] AErmie opened #78 "Azure Bicep Outputs Are Not Parsed"
When using GitHub Actions to deploy infrastructure in Azure, specifically via Azure Bicep templates, even though the template may have outputs defined, this is not parsed correctly and therefore no information is returned to the console.

![AzureBicep-GHAction-Output](https://user-images.githubusercontent.com/10376796/130477198-3b99b9e0-8cc2-4646-a6f5-a864f57bce81.png)

## Sample Bicep Code

[code

[2021-08-25 06:06] #76 closed

[2021-08-25 11:20] t-dedah commented on #78
@AErmie Raised PR to support these logs. https://github.com/Azure/arm-deploy/pull/79

If the issue needs a quick fix then enable debug logs in the repository. Create a new repo secret with `ACTIONS_STEP_DEBUG ` set to `true`

https://docs.github.com/en/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging

[2021-08-27 09:57] nielsvdc opened #80 "Redeploying Bastion via template fails (Subnet AzureBastionSubnet is in use)"
I'm not sure if this belongs here, but I'll give it a try.

I've created a bicep template to deploy a vnet resource with a Bastion resource. The first time deploying this template works as expected and all resources are created.

But when redeploying the template, I get the error _"Subnet AzureBastionSubnet is in use by /subscriptions/..../resourceGroups/rg-test/providers/Microsoft.Network/bastion

[2021-08-30 05:56] t-dedah commented on #78
Hi @AErmie, can you try rerunning the workflow and see what outputs are you getting as we tried running the above template and the outputs were parsed correctly for us?

[code]

If the error still continues set this environment secret `ACTIONS_STEP_DEBUG` to `true` and confirm if the debug logs are correct.

[2021-08-31 14:21] AErmie commented on #78
Hey @t-dedah, when I have `ACTIONS_STEP_DEBUG` enabled, I see that it does parse the outputs (and I can subsequently use those outputs in another step).

![BicepOutputs](https://user-images.githubusercontent.com/10376796/131518821-aee739a7-d050-4b2c-9959-db8bdbc8c2f8.png)

But what I was referring to, are the outputs from the Bicep template. Similar to Terraform, if you have `outputs`, those will

[2021-09-02 06:46] t-dedah commented on #78
@AErmie Can yo please show me what outputs are you expecting?

The purple logs are from DEBUG whereas the white logs are your normal logs so everything after `parsing outputs...` is consoled twice.

[2021-09-03 14:34] AErmie commented on #78
Hey @t-dedah, sorry if I wasn't clear. I'm referring to the outputs in the Bicep file...

[code]

My expectation is similar to what Terraform produces when you run `terraform apply`, where it will write out to the console the actual values of the resources.

When you have `debug` turned off, you don't actually see any of the outputs. So, unless you know it's still actually there under the covers,

[2021-09-06 08:04] marvinbuss commented on #80
@nielsvdc This is related to this behavior stated here: https://stackoverflow.com/questions/55901747/azure-arm-code-inusesubnetcannotbedeleted-when-trying-to-update-vnet

When the vnet gets deployed and no subnets are specified in the properties section, the vnet tries to delete the subnets. However, services are connected and hence, the deployment fails. Just the first deployment works fine, as t

[2021-09-06 08:05] marvinbuss commented on #71
@t-dedah Any updates?

[2021-09-06 08:45] t-dedah commented on #78
Hi @AErmie , there was some misunderstanding, the above output is an expected behaviour. We are not printing any output as part of parsing process. If the outputs needs to be printed then we should explicitly do that in next step using this https://github.com/Azure/arm-deploy#another-example-on-how-to-use-this-action-to-get-the-output-of-arm-template

[code]

[code]

This behaviour was implemented

[2021-09-06 08:48] t-dedah commented on #74
@pinakighatak Can you please share the full logs?

[2021-09-06 08:49] t-dedah commented on #74
@pinakighatak Closing this due to inactivity.  Please re-open if you are still facing this issue.

[2021-09-06 08:49] #74 closed

[2021-09-06 09:55] marvinbuss commented on #36
@t-dedah why are you closing this without confirmation from the user or any comment from your side?

[2021-09-06 20:11] nielsvdc commented on #80
Sorry people, I was unavailable for a moment. I tested with redeployment with CLI and also via Azure GUI. These also both failed with error message "Subnet AzureBastionSubnet is in use by /subscriptions/.../resourceGroups/test/providers/Microsoft.Network/bastionHosts/avd-vnet-bastion-eus/bastionHostIpConfigurations/IpConf and cannot be deleted. In order to delete the subnet, delete all the resourc

[2021-09-07 11:46] AErmie commented on #78
OK thanks @t-dedah, perhaps we can update the Bicep and GitHub Actions documentation to make that more clear (especially for customers coming over from Terraform, and expecting to see the outputs).

[2021-09-07 14:54] t-dedah commented on #78
@AErmie Ill update the readme to explicitly call this out at the top itself.
So should I go ahead and close this issue?

[2021-09-07 15:02] AErmie commented on #78
@t-dedah, yes since this behaviour is "by design"

[2021-09-07 15:06] #78 closed

[2021-09-07 15:08] t-dedah commented on #71
Hi @marvinbuss I will be picking this up in next sprint, hope that wont be an issue.

[2021-09-07 15:24] marvinbuss commented on #71
Next sprint should be fine. Once this is included, I will add this to our CI/CD pipelines and test the feature.

[2021-09-11 08:12] tomkerkhove opened #83 "Provide support for overrideParameters"
Provide support for overrideParameters allowing you to combine parameter files with overrides per environment similar to https://github.com/marketplace/actions/azure-resource-manager-arm-template-deployment.

This is useful if you rely on parameter files, but for some scenarios you want to deviate from what is in the file.

[2021-09-22 06:06] t-dedah commented on #80
Hi @nielsvdc, if we try to run `az deployment group what-if ...` we get the below outcome which clearly shows that they are trying to delete IpConf. So this looks like an expected behaviour.

This is a possibility when different resources doesnt have context about other resources as explained in this [article]( https://stackoverflow.com/questions/55901747/azure-arm-code-inusesubnetcannotbedeleted-

[2021-09-22 14:19] andrewwiebe opened #85 "Pass github secret to the template being deployed"
Is there anyway to pass a git hub repo secret to the arm template being deployed? Would like to pass a secret to an app service to be used during deployment.

[2021-09-22 14:21] andrewwiebe commented on #68
I am trying to do something similar, I have all of my parameters in a json file passed to the deployment. Is there anyway to append the one secret from a Github secret to the deployment?

[2021-09-27 09:56] marvinbuss commented on #71
Hi @t-dedah,
Any updates on this? Thanks!

[2021-09-30 13:42] andrewwiebe commented on #83
I Just want to add a +1 to this. This would be very very useful to "inject" GitHub secrets into a deployment.

[2021-09-30 13:45] andrewwiebe opened #86 "Azure Deployment history is not kept"
When looking at deployments completed with this action in Azure portal, you only see the newest deployment. It seems that the deployment is overwritten each time with the latest, and the history is not kept.

I have done numerous deployments using this action to the resource group below, but the deployments panel only show the latest.

![image](https://user-images.githubusercontent.com/45373072/13

[2021-10-04 08:55] t-dedah commented on #71
Hi @marvinbuss its WIP, will be raising PR soon.

[2021-10-05 09:42] t-dedah commented on #86
Hi @andrewwiebe this looks more like an issue for the underline platform rather than arm-deploy actions. Are you able to see any history if the deployment is done using any other means like az-cli ?

[2021-10-05 09:43] t-dedah commented on #80
Hi @nielsvdc are you still facing this issue? If no, then should we close this?

[2021-10-05 10:07] marvinbuss commented on #86
Seems like a deployment name was not used here. @andrewwiebe can you please try to use a deployment name that includes the timestamp of the deployment? That should fix the issue.
Here is the definition of the input parameter:
https://github.com/Azure/arm-deploy/blob/f874e4366b16b234485664117f2a1de8150b4f40/action.yml#L25-L27

[2021-10-05 10:12] marvinbuss commented on #85
Please look at this issue. You can override secrets the same way: https://github.com/Azure/arm-deploy/issues/21

You can also find an example here:
https://github.com/Azure/data-product-analytics/blob/fb9830eaf04dd2449f4d173200533653b45cf881/.github/workflows/dataProductDeployment.yml#L98-L110

[2021-10-05 10:13] marvinbuss commented on #83
This is already possible. Just look at the closed issues: https://github.com/Azure/arm-deploy/issues/21

Here is a sample: https://github.com/Azure/data-product-analytics/blob/fb9830eaf04dd2449f4d173200533653b45cf881/.github/workflows/dataProductDeployment.yml#L98-L110

[2021-10-05 11:35] tomkerkhove commented on #83
Oh, then I'd suggest to update the README - Are you open for PRs?

[2021-10-05 13:11] andrewwiebe commented on #85
Awesome thanks for the link and example. Might be good to add to the readme.

[2021-10-05 13:11] #85 closed

[2021-10-05 19:45] t-dedah commented on #83
Hi @tomkerkhove We are open to PRs and any other suggestions to the README.

[2021-10-07 10:21] #83 closed

[2021-10-20 20:19] t-dedah commented on #86
@andrewwiebe are you still facing this issue ?

[2021-10-20 20:20] #80 closed, assigned to bishal-pdMSFT, t-dedah

[2021-10-29 16:16] danwkennedy opened #89 "Support `--rollback-on-error` option"
The Az CLI (and Az Powershell module) have a method of specifying the behavior of the deployment should an error happen during the run. In this case, we can either specify a deployment name to rollback to or simply use it as a flag to rollback to the latest successful deployment if there's an error. It'd be great if this parameter was exposed to the GH Action.

[2021-11-02 12:48] larryclaman commented on #71
/not-stale

[2021-11-04 22:05] t-dedah commented on #89
@danwkennedy Added this enhancement with what-if PR  https://github.com/Azure/arm-deploy/pull/90

[2021-11-09 15:34] larryclaman commented on #71
#not-stale

[2021-11-16 16:25] gummigroda commented on #36
Hi,

Are there any updates regarding how to add for example tags as parameters?
Or even more complex structures as objects in an array?

Tried as sugested:
![image](https://user-images.githubusercontent.com/15022172/142024360-aa3a957d-7fde-4861-8d3b-90044a56f5ae.png)

and get the error:
![image](https://user-images.githubusercontent.com/15022172/142024281-258d8796-20e5-470d-a9a3-17541d762e58.png)

[2021-11-16 20:08] larryclaman commented on #71
#not-stale

[2021-11-22 18:19] t-dedah commented on #36
Hi @gummigroda Can you please try this?

`tags="{\"costCenter\":\"12345\", \"owner\":\"IT\", \"Service\": \"Identity\"}"`

[2021-11-24 07:56] t-dedah commented on #71
@larryclaman @marvinbuss @johndowns We have released a new version with support for `additional additionalArguments`.

All the extra parameters can be passed as string using additionalArguments.

`additionalArguments: "--what-if --what-if-exclude-change-types Create Ignore"`

[2021-11-24 07:57] t-dedah commented on #89
@danwkennedy We have released a new version with support for `additional additionalArguments`.

All the extra parameters can be passed as string using additionalArguments.

`additionalArguments: "--rollback-on-error"`

[2021-11-24 08:19] marvinbuss commented on #71
Hi @t-dedah,
What do I need to do to specify a what-if deployment. This is failing:
https://github.com/Azure/data-product-streaming/blob/01b8b3c72e2d3d2fb8c3d1402ecf035f518f9062/.github/workflows/dataProductDeployment.yml#L63-L75

Thanks for your help!

[2021-11-24 08:30] marvinbuss commented on #71
I don't really understand why it is modelled as additional parameter, since it is is actually a [deployment mode within Azure CLI](https://docs.microsoft.com/en-us/cli/azure/deployment/group?view=azure-cli-latest#az_deployment_group_what_if).

But there is no what-if branch in the deployment options here: https://github.com/Azure/arm-deploy/blob/main/src/deploy/scope_resourcegroup.ts

[2021-11-24 08:37] t-dedah commented on #71
Hi @marvinbuss
As `what-if` is already a parameter in az group create, we decided to use that in order to reuse the current code. All the functionalities are still same but now with addition of `additionalArguments` there will be no further need of enhancements through separate input for each of new request.

https://docs.microsoft.com/en-us/cli/azure/deployment/group?view=azure-cli-latest#az_depl

[2021-11-24 08:49] marvinbuss commented on #71
Thanks for the prompt response @t-dedah! 🚀
I have tested the new feature and it works as expected. Thanks for this!
Here is the yaml: https://github.com/Azure/data-product-streaming/blob/b10ff6bd2ab9112f7605305a54b52917dec058d8/.github/workflows/dataProductDeployment.yml#L62-L75

And here is a successful run of the workflow: https://github.com/Azure/data-product-streaming/runs/4309573044?check_sui

[2021-11-24 09:32] marvinbuss commented on #71
@t-dedah The output could be improved. There are some warnings that should be removed:
![image](https://user-images.githubusercontent.com/34542414/143212185-52d6e4c6-6e54-49ad-b802-00ee5e530c57.png)

[2021-11-26 08:52] marvinbuss commented on #36
This is the reason why it will not work. If you use the new [Workload Identity Federation](https://docs.microsoft.com/en-us/azure/active-directory/develop/workload-identity-federation), this issue will most likely be solved, as you are not storing a JSON as secret then.

[2021-11-30 07:17] t-dedah commented on #89
Closing this issue as this was fixed last week. Please reopen if you have more questions on the new input.

[2021-11-30 07:17] #89 closed

[2021-11-30 21:51] danwkennedy commented on #89
@t-dedah thanks for getting that out!

[2021-12-24 16:12] dpetrishin commented on #68
Any update or workaround about this problem, guys?...

[2021-12-24 16:51] dpetrishin commented on #68
I solved this by wrapping of parameters in "".

[2022-01-19 11:53] matkosoric opened #92 "Using folder path for multiple ARM templates"
Is it possible to provide only folder path containing multiple files instead of specific JSON path to deploy?
For example:
`template: ./templates/*/*.json`
or:
`template: templates`

[2022-01-19 15:57] ashishmg-gds opened #93 "ERROR: 'str' object has no attribute 'get'"
Hi Team,

Looks like a code issue to me. I get the following error when trying to deploy my DataFactory ARM Template.

[code]
I validated the ARMTemplate also, just to check, But all seems to be good.

Im using the `azure-data-factory-utilities` npm package method to create the ARMTemplate

[2022-01-19 17:43] t-dedah commented on #93
Hi @ashishmg-gds Is the template working fine if deployed using azure cli?
If yes, will it be possible to share the template for us to replicate the issue?

[2022-01-19 20:33] ashishmg-gds commented on #93
@t-dedah  I wont be able to share the template but, Im getting the same issue when trying via azure cli.
I added `--debug` to the deployment creation command and got following stacktrace:

[code]

[2022-01-19 20:45] ashishmg-gds commented on #93
I also exported the ARM template from my Data Factory and compared with the generated one. Seems to be Identical

[2022-01-19 20:56] davyrod commented on #93
@ashishmg-gds I was facing this same issue and I got past the error by taking the parameters with empty values in the 'ARMTemplateParametersForFactory.json' file, and adding those to the 'parameters:' attribute in the GitHub Action declaration.

[2022-01-19 22:38] t-dedah commented on #93
@ashishmg-gds As you are getting the same error with azure cli that means the issue is with azure cli and not this action specifically. So which version of azure-cli are you using ?

[2022-01-21 11:39] ashishmg-gds commented on #93
@t-dedah  I used both latest and 2.30.0 version as well

[2022-02-16 03:14] nnellans commented on #71
Agree about cleaning up the output.  I don't want to see errors like that when doing a "what-if" deployment.

[2022-02-25 23:42] stephenmahood opened #94 "ARM template outputs containing resource ids sanitized"
When using the Azure Login GitHub action with the creds parameter:
[code]
secrets.AZURE_CREDENTIALS:
[code]
 and then deploying an ARM template with the arm-deploy action that returns a resourceId as a template output, GitHub sanitizes the step output  due to the subscriptionId within the resourceId being present within the AZURE_CREDENTIALS secret.

[2022-02-28 09:23] aparna-ravindra commented on #94
Hey @stephenmahood ,
In general, all secrets are sanitised by Github Actions when printing on the console. But you should still be able to use the output in a dependent step/job.
Could you please clarify your question/requirement? Sharing a use case  or an example will help as well.

[2022-03-08 08:12] aparna-ravindra commented on #94
Hey @stephenmahood ,
Please re-open the issue if you want further help.

[2022-03-08 08:13] t-dedah commented on #94
Closing this for now. Reopen if you are need further assistance.

[2022-03-08 08:13] #94 closed

[2022-03-28 16:43] t-dedah commented on #92
Hi @matkosoric 👋 unfortunately this isnt supported by `azure cli`, which this action is based upon.
[azure cli docs ](https://docs.microsoft.com/en-us/cli/azure/group/deployment?view=azure-cli-latest#az-group-deployment-create)

[2022-03-28 16:46] t-dedah commented on #93
Hi @ashishmg-gds Are you still facing this issue?
Did you try the solutions suggested here https://github.com/Azure/arm-deploy/issues/93#issuecomment-1016861114 or https://github.com/Azure/arm-deploy/issues/68#issuecomment-1000896837

[2022-04-01 18:32] ukreddy-erwin opened #98 "Deployment failing and it is successful few times."
Please see the screenshot for the details, you will get the context.

![Screenshot_2022-04-01-23-57-51-27_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/21240709/161321872-06511655-290c-421d-964c-3ac6221e9d3d.jpg)

[2022-04-01 20:20] t-dedah commented on #98
Hi @ukreddy-erwin Will you be able to help me reproduce this issue? Can you please share the input parameters which you are using for this issue?

[2022-04-08 10:26] t-dedah commented on #71
We have removed the `additionalArguments` while validation step. This should resolve the warnings and other related issues.

[2022-04-08 10:26] t-dedah commented on #71
Please reopen the issue if needed.

[2022-04-08 10:26] #71 closed

[2022-04-09 20:20] nnellans commented on #71
I'm seeing an issue now where my additional arguments are getting added to my template filename:

`Error: ERROR: [Errno 2] No such file or directory: 'test.bicep--what-if'`

[2022-04-10 17:29] marvinbuss commented on #71
@t-dedah Please reopen this issue. I am running into the same error.

[2022-04-11 05:09] t-dedah commented on #71
@marvinbuss @nnellans We have released a new version with the fix for this bug.

[2022-04-13 07:54] t-dedah commented on #98
Hi @ukreddy-erwin Please reopen the issue if you are still facing this issue.

[2022-04-13 07:54] #98 closed

[2022-04-13 07:55] t-dedah commented on #93
Hi @ashishmg-gds Please reopen the issue if you are still facing this issue

[2022-04-13 07:55] #93 closed

[2022-04-15 10:36] t-dedah commented on #68
Closing this issue as a working solution was suggested @dpetrishin. Feel free to reopen if you face this issue again.

[2022-04-15 10:36] #68 closed

[2022-05-10 20:06] larryclaman commented on #71
@t-dedah , would it be possible to update the main README to mention that _what-if_ can be passed via additionalArguments?  I'm finding that users are not aware of this feature.

[2022-05-28 20:07] t-dedah commented on #71
Hi @larryclaman sorry for the delay. Will this be enough or should we add more details?
PR - https://github.com/Azure/arm-deploy/pull/102

[2022-06-07 10:22] kmagusiak opened #103 "Default deploymentName"
The default `deploymentName` seems to be the base name of the template file. Could it be set to the repository name with a timestamp?

In Azure DevOps, date and random chars are added so that two deployments in the same resource group don't collide.
Here's an example where the last deployment was done using github:
![image](https://user-images.githubusercontent.com/1943198/172357365-8732074c-3574-

[2022-06-09 16:40] kptranum opened #104 "Add yaml file as input parameter"
It would be nice to be able to provide a yaml file as input parameter, instead of only json.

[2022-06-22 19:15] t-dedah commented on #103
Hi @kmagusiak Thats a good suggestion, I will discuss this with the team and get back to you.

[2022-06-28 21:16] Madsteph opened #108 "aliasPrimaryConnectionString doesn't exist anymore"
We have some ARM templates that try to get the aliasPrimaryConnectionString key from an EventHub that have DR enabled.  The templates have been working fine for the past few months but around yesterday they all stopped working with the following error msg:

`##[error]InvalidTemplate: Unable to process template language expressions for resource '/subscriptions/[SubscriptionId]/resourceGroups/[RG Na

[2022-07-16 10:30] grantomation opened #109 "Allow JSON input as parameter"
Hello there,
I am trying to use your module to deploy an Azure Red Hat OpenShift. To deploy a cluster correctly the deployment requires the use of a pull secret from Red Hat which is in json format (structure below). Unforuntately I cannot seem to get the bicep module finish using github actions unless I hard code the pull secret in the bicep file itself. This is obviously not ideal. I have tried

[2022-07-17 07:18] grantomation commented on #109
I escaped the quotes in the github secret using the advice posted in the other post https://github.com/Azure/arm-deploy/issues/36#issuecomment-975797136.

This worked for me.

[2022-07-17 07:18] #109 closed

[2022-07-17 18:01] #104 closed

[2022-07-17 18:07] t-dedah commented on #103
Hi @kmagusiak As `deploymentName` is already an input, you can use that to group to create separate deployments. If you want each workflow run to generate a new deployment with a new name then trying adding some sort of automatic variation like using run number. `${{github.run_number}}`

We are closing this issue now but feel free to reopen if more information is needed.

[2022-07-17 18:07] #103 closed

[2022-07-17 18:09] t-dedah commented on #108
Hi @Madsteph We checked the release for both this action and `azure cli` but none of them released any new version in the timeframe discussed above. Are you still facing this issue?

[2022-07-18 08:53] kmagusiak commented on #103
Hello,

This is what I've set today (not exactly run_number, but similar). The issue was to change the default behavior and use something unique.

Best regards,
Krzysztof

[2022-08-02 08:30] t-dedah commented on #108
Closing this issue due to inactivity. Please reopen if you are still facing this issue.

[2022-08-02 08:30] #108 closed

[2022-08-18 12:31] aavdberg opened #110 "Deploy Bicep without Resourcegroup defined in the GitHub Actions Workflow"
Having the following problem with using the Azure/arm-deploy@v1 action, namely how can I deploy without specifying a resourcegroup .

![image](https://user-images.githubusercontent.com/22030609/185395366-6f66ae40-eb31-43b3-a45b-94545e35a8cb.png)

[2022-08-19 02:23] t-dedah commented on #110
Hi @aavdberg as the scope is `managementgroup`, we dont have to specify `resourceGroupName` which is also mentioned [here](https://github.com/Azure/arm-deploy#inputs). May I know the problem you are facing while running the workflow?

[2022-08-25 07:30] johan-lindqvist commented on #70
@bishal-pdMSFT a follow up question a year later, in your last comment you recommended `failOnStdErr: false` to be used, is this still the safest route? Or has the package been rewritten since then in a way where it's no longer necessary?

[2022-08-26 20:42] leandromsft opened #112 "Execute bicep file with subscription deployment mode"
Hello,

I create a bicep file to create a resource group and other resources within this resource group
This bicep file works fine when I execute using **az deployment sub create** command

So, I create GitHub workflow to automate my bice file execution, as fallow:

[code]

But when the workflow run, result this warning:

[code]

So, my questions is: How I can automatically run my bicep files in t

[2022-08-30 14:08] rx007 opened #113 "ERROR: InvalidTemplate - Deployment template validation failed: 'The template resource '_artifactsLocation'"
Hello,

Below is my github actions deployment, but still getting an error. Anybody can help me? Thank you!
[code]

armdeploy.json
[code]

error
[code]

[2022-08-31 05:10] t-dedah commented on #113
Hi @rx007 this stack overflow issue looks similar to what you are facing [Link](https://stackoverflow.com/questions/57195408/use-deployment-properties-templatelink-uri-on-local-deployments-
through-arm).

This looks like you cant use `templateLink.uri` for local templates.

Will it be possible to see if [second answer](https://stackoverflow.com/questions/57195408/use-deployment-properties-template

[2022-08-31 05:15] t-dedah commented on #112
Hi @leandromsft the workflow file looks okay to me.
Can you please confirm if the path `/home/runner/work/dotnet-container-app/dotnet-container-app/src/aspnetcoreiac/main.bicep` is correct ?

If yes, then can you also add few more commands like `ls -a` and `pwd` just to check if the file still exists in the directory?
[code]

[2022-08-31 11:44] leandromsft commented on #112
Hi @t-dedah

I ran the command ls-R and the main.bicep file is inside the folder as expected, bellow the results

[code]

As a workaround I am running bicep file using az cli command using the same path **src/aspnetcoreiac/main.bicep** and it is working fine

[code]

You can see the workflow file and logs here [aspnetcore-deployment.yml](https://github.com/Azure-Samples/dotnet-container-app/blob/f

[2022-09-05 13:53] leandromsft commented on #112
Hi @t-dedah any update about this case?

[2022-09-13 12:48] t-dedah commented on #113
Hi @rx007 I am closing this issue due to inactivity but feel free to reopen if you are still facing this issue.

[2022-09-13 12:48] #113 closed

[2022-09-16 12:53] aavdberg commented on #110
I had to add the following:
[code]
and then it worked

[2022-09-16 12:54] #110 closed

[2022-10-04 17:46] leandromsft commented on #112
Hi @t-dedah / @bishal-pdMSFT
Please, do you have any update about this case?

Thank you

[2022-10-12 10:11] johan-lindqvist opened #114 "Warning in workflow about nodejs version"
It seems that GitHub is deprecating nodejs12 which gives warnings when using this action in a workflow:
![image](https://user-images.githubusercontent.com/1523775/195315569-2640c056-eca6-40f6-9ee2-4e352603eb52.png)

Warning in text:
[code]

[2022-10-12 10:16] t-dedah commented on #114
Thank you @johan-lindqvist for the heads-up, we will be pushing this fix in the coming days.

[2022-10-12 10:43] t-dedah commented on #112
Hi @leandromsft I tried to replicate the issue but my workflow is failing while running the deployment rather than early stages. [Run](https://github.com/t-dedah/dotnet-container-app/actions/runs/3234007123/jobs/5296585963)

Should I do something extra to replicate the issue?

[2022-10-12 14:11] #112 closed

[2022-10-13 07:07] aavdberg commented on #36
I think you have to put the line between quotes, did you try understanding?
[code]

And better to use https://docs.microsoft.com/en-us/azure/active-directory/develop/workload-identity-federation

[2022-10-17 05:50] AshleyRoll opened #115 "`set-output` deprecation warning from GitHub actions"
Similar to #114 GitHub is also warning about deprecating the use of the `set-output` command.

[code]

Their solution for action authors is to bump `@actions/core` to `v1.10.0` or greater.

I note there is a PR from dependabot #111 to bump to `1.91`, but that will not fix this issue.

[2022-10-17 20:04] t-dedah commented on #115
Thank you @AshleyRoll for the heads-up, we will update this action to use the latest @actions/core soon.

[2022-11-14 12:57] rahul-fadv opened #119 "Skipping `Parsing Ouputs...` during arm-deploy step"
The `arm-deploy` action skips **Parsing Ouputs..** during the step execution. The outputs are populated in the Azure deployments. When we enabled logs to the runner, we could see the output object is pointing to a **null** value.

Note: The `arm-deploy` step is part of a reusable workflow and the same workflow works for other bicep deployments

![MicrosoftTeams-image (1)](https://user-images.githu

[2022-11-14 14:36] adrianmo commented on #115
@t-dedah thanks for the awesome work you are doing with this action.

I just wanted to ask you if you could release a new version of the action that includes your recent update to use the latest version of `actions/core` (`v1.10.0`).

We've been seeing very strange behaviors with output parsing that seemed to be resolved in your `main` branch. But we don't feel very comfortable with pinning our ac

[2022-11-15 08:02] adrianmo commented on #115
This is what I was referring to when I mentioned the weird behavior when parsing deployment outputs: #119

[2022-11-15 08:03] adrianmo commented on #119
@rahul-fadv can you try if using `azure/arm-deploy@main` fixes your issue?

[2022-11-16 10:02] miran-hadziomerovic opened #120 "Is it possible to refer to a template file via pattern referring or similar?"
I am currently developing functionality for deploying a bicep file to Azure. Since I am downloading the file from an artifact, I would like to know is it possible to indirectly refer to this file (as it is the only file in the working directory).

<img width="306" alt="image" src="https://user-images.githubusercontent.com/37115447/202149952-d7cdba03-2fed-4a8c-a714-f587a5b24ddd.png">

Is something

[2022-11-18 11:09] t-dedah commented on #119
Sorry for the delay, we have released a new version so`@v1` now contains all the changes from `main`

[2022-11-18 11:10] t-dedah commented on #115
Hi @adrianmo @AshleyRoll we have released a new version so this should work fine now. Let me know if you are still facing this issue.

[2022-11-18 11:11] t-dedah commented on #119
Hi @adrianmo @rahul-fadv  we have released a new version so this should work fine now. Let me know if you are still facing this issue.

[2022-11-18 11:12] t-dedah commented on #114
Hi @johan-lindqvist @oxbo-andre we have released a new version so this should work fine now. Let me know if you are still facing this issue.

[2022-11-18 11:19] t-dedah commented on #120
Hi @miran-hadziomerovic Unfortunately we do not support this at the moment. We will consider this as a feature request but we do not have any ETA for this at the moment. Will that work for you?

[2022-11-18 11:46] AshleyRoll commented on #115
@t-dedah Awesome, thanks for the release.

I have re-run one of our pipelines that was previously warning about both `set-output` and the node.js version and I can confirm that both issues have been resolved.

I think this issue can be closed now.

[2022-11-18 11:48] johan-lindqvist commented on #114
Tested just now, no more warnings 👍

[2022-11-18 23:28] #119 closed

[2022-11-18 23:28] #115 closed

[2022-11-18 23:28] #114 closed

[2022-11-19 20:27] miran-hadziomerovic commented on #120
Hi, sounds good. It would be a great addition in the future.